@font-face {
	font-display: swap;
	font-family: "Source Sans 3";
	src: url("SourceSans3-Regular.ttf.woff2");
}

@font-face {
	font-display: swap;
	font-family: "Iosevka Web";
	src: url("iosevka-fixed-curly-light.woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Sans 3";
	font-weight: bold;
	src: url("SourceSans3-Bold.ttf.woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Sans 3";
	font-style: italic;
	src: url("SourceSans3-It.ttf.woff2");
}

@font-face {
	font-display: swap;
	font-family: "Source Sans 3";
	font-style: italic;
	font-weight: bold;
	src: url("SourceSans3-BoldIt.ttf.woff2");
}

* {
	margin:  0;
	padding: 0;
	border: none;
	font: inherit;
	text-decoration: none;
}

body {
	font: 100%/1.5 "Source Sans 3", sans-serif;
	hyphens: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body:lang(ja) {
	line-height: 1.875;
}

pre {
	line-height: 1.5;
	white-space: pre-wrap;
}

pre, code, a.url {
	word-break: break-all;
	font-family: "Iosevka Web", monospace;
}

p, h1, h2, h3, ul, ol, dl, pre, figure {
	margin: 0.75rem 0;
}

ul {
	list-style: none;
}

li > ul, li > ol {
	margin: 0;
	margin-left: 1rem;
}

li {
	margin-left: 1rem;
	position: relative;
}

ul > li:before {
	position: absolute;
	left: -1rem;
	width: 1rem;
	text-align: center;
	content: "\2023";
}

dt:after {
	content: ":";
}

dd {
	margin-left: 2rem;
}

table {
	margin: 1rem auto;
	border-collapse: collapse;
}

p, li, dt, dd {
	text-align: justify;
}

figure {
	text-align: center;
}

em, strong {
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

img, svg, object {
	max-width: 100%;
	height: auto;
}

sup, sub {
	font-size: 75%;
}

/**/

body {
	max-width: 42rem;
	margin: 0 auto;
	padding: 1rem;
	color: #101010;
}

h2, pre, figure, table.figure {
	margin: 1rem 0;
}

h1 {
	margin: 2rem 0;
	font-size: 112.5%;
	text-align: right;
}

h2, h3 {
	margin-top: 2rem;
	font-size: 112.5%;
	font-weight: bold;
}

h2:lang(ja), h3:lang(ja) {
	font-weight: normal;
}

h2 {
	padding: 0.25rem 0;
	border-bottom: solid 1px #a0a0a0;
}

a {
	color: #608020;
}

a:hover {
	text-decoration: underline;
}

pre {
	background: #fafafa;
}

pre, figure img {
	padding: 0.5rem calc(0.5rem - 1px);
	border: solid 1px #e0e0e0;
}

table.figure td {
	padding: 0 calc(0.5rem - 1px);
	border: solid 1px #a0a0a0;
}

input[type="button"] {
	margin:  0 0.5rem;
	padding: 0 calc(0.5rem - 1px);
	border: solid 1px #c0c0c0;
}

nav, address {
	text-align: right;
	font-size: 87.5%;
}

nav:before {
	content: "[";
}

nav:after {
	content: "]";
}

address {
	margin-top: 2rem;
}

.warning {
	color: #ff4020;
}
