body {
	font-family: sans-serif;
	line-height: 1.8;
	margin: 2em auto;
	max-width: 48em;
}

pre, code {
	font-family: Inconsolata, monospace;
	line-height: 1.2;
	word-break: break-all;
}

p, li {
	text-align: justify;
	text-justify: inter-ideograph;
}

dd p {
	margin-top: 0;
}

h1 {
	margin-top: 2em;
	border-bottom: 2px solid silver;
}

pre {
	padding-left: 2em;
}

blockquote {
    margin: 1em 0em;
    padding-left: 1em;
    border-left: solid 2px silver;
}

em, strong {
	font-weight: bold;
	font-style: normal;
}

#TOC li {
	list-style-type: none;
}

/* End Japanese specific */

a, a:visited, a:link {
  text-decoration: none;
  color: #00438a;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited { color: black; }

/* Code highlighting */
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}

h1.title {
  background-image: url('http://www.rust-lang.org/logos/rust-logo-32x32-blk.png');
  background-repeat: no-repeat;
  background-position: right;
}

#versioninfo {
  position: fixed;
  bottom: 0px;
  right: 0px;

  background-color: white;
  border-left: solid 1px black;
  border-top: solid 1px black;
  padding: 0.5em;
}

a.lessimportant {
  color: gray;
  font-size: 60%;
}
